<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:remove="android:maxSdkVersion" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoTracker"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu" >
        <activity
            android:name=".ActividadInversiones"
            android:exported="false" />

        <activity
            android:name=".DialogHistorial"
            android:exported="false" />

        <receiver
            android:name=".ActualizaBD"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />

        <activity
            android:name=".ActividadPerfilNotificacion"
            android:exported="false" />
        <activity
            android:name=".ActividadLista"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>